@import url('./__avatar/__avatar.css');
@import url('./__info/__info.css');
@import url('./__title/__title.css');
@import url('./__text/__text.css');

.about {
  padding: 5.5% 7.2%;
  height: 70hv;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 690px) {
  .about {
    flex-direction: column;
}
}

@media screen and (max-width: 320px) {
  .about {
padding: 2.5% 5%;
}
}