.header__black {
color: #1A1B22;

}
.header__button_black {
  border: 1px solid #000;
}
@media screen and (max-width: 320px) {
  .header__black {
    color: #FFFFFF;
    }
    .header__button_black {
      border: 1px solid #fff;
    }
}