.footer__link {
  cursor: pointer;
  margin-right: 30px;
}
.footer__link:last-of-type {
  margin-right: 0px;
}
.footer__link_text {
 font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #1A1B22;
  text-align: center;
}
.footer__link_text:last-of-type {
  margin-right: 45px;
}
