.popup__content {
  width: 430px;
  min-height: 182px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 420px) {
  .popup__content {
    height: calc(100vh - 56px);
    width: 100%;
position: fixed;
top:56px;
padding: 16px 17px;
}
}