<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>NewsExplorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="<%=require('../image/favicon.png').default%>">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">

</head>
<body>
  <div class="root">
    <header class="header header__option">
<div class="header__logo_black">NewsExplorer</div>
<div class="header__icon-menu header__icon-menu_black"></div>

<nav class="header__nav">
  <a href="./" class="header__menu header__black">Главная</a>
  <a href="./articles.html" class="header__articles header__black header__menu_active-black">Сохранённые статьи</a>
  <button class="header__button header__auth">
    <div class="header__user-name header__black"></div>
    <div class="header__icon-exit header__icon-exit_black"></div>
  </button>
</nav>

    </header>

    <section class="info">
      <h6 class="info__title">Сохранённые статьи</h6>
      <p class="info__count-articles">
        <p class="info__count-articles info__count-articles_name"></p>
        <p class="info__count-articles info__count-articles_count"></p></p>
        <p class="info__keywords">По ключевым словам:</p>
    </section>

    <section class="result">
      <div class="result__articles">

      </div>
  </section>
  <footer class="footer">
    <div class="footer__copiright">&copy; 2020 Supersite, Powered by News API</div>
    <div class="footer__links">
    <nav class="footer__nav">
        <a class="footer__link footer__link_text" href="/" target="blank">Главная</a>
        <a class="footer__link footer__link_text" href="https://praktikum.yandex.ru/" target="blank">Яндекс.Практикум</a>
       </nav>
      <div class="footer__icon">
        <a class="footer__link" href="https://github.com/" target="blank"><img src="<%= require('../image/GitHub.png').default%>" alt="GitHub"></a>
        <a class="footer__link" href="https://facebook.com" target="blank"><img src="<%= require('../image/Facebook.png').default%>" alt="Facebook"></a>
      </div>
</div>
  </footer>
</div>
    <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
