<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>NewsExplorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="<%=require('../image/favicon.png').default%>">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">

</head>
<body>
  <div class="root">
    <header class="header header__option">
      <div class="mobile-menu">
        <div class="header__logo header__black">NewsExplorer</div>
        <img class="header__icon-menu" src="<%= require('../image/menu-black.png').default%>" alt="">
     </div>

      <nav class="header__nav header__nav_authorized">
        <a href="/" class="header__menu header__black">Главная</a>
        <a href="" class="header__menu header__black header__menu_active-black">Сохранённые статьи</a>
        <button class="header__authorized header__button_black">
          <div class="header__user-name header__black">Грета </div>
          <img class="header__icon-exit_black" src="<%= require('../image/logout-black.png').default%>" alt="">
          <img class="header__icon-exit" src="<%= require('../image/logout.png').default%>" alt="">
        </button>
      </nav>
    </header>
    <section class="info">
      <h6 class="info__title">Сохранённые статьи</h6>
      <p class="info__count-articles">Грета, у вас 5 сохранённых статей</p>
      <p class="info__keywords">По ключевым словам: Природа, Тайга и 2 другим</p>
    </section>

    <section class="result_active">
      <div class="result__articles">

      <div class="article">
        <div class="article__image"></div>
        <div class="article__keyword">Природа</div>
        <div class="article__icon-delete"></div>
        <div class="article__date">2 августа, 2019</div>
        <div class="article__title">Национальное достояние – парки</div>
        <div class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала склады...</div>
        <div class="article__source">Лента.ру</div>
      </div>

      <div class="article">
        <div class="article__image"></div>
        <div class="article__keyword">Природа</div>
        <div class="article__icon-delete"></div>
        <div class="article__date">2 августа, 2019</div>
        <div class="article__title">Национальное достояние – парки</div>
        <div class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала склады...</div>
        <div class="article__source">Лента.ру</div>
      </div>


      <div class="article">
        <div class="article__image"></div>
        <div class="article__keyword">Природа</div>
        <div class="article__icon-delete"></div>
        <div class="article__date">2 августа, 2019</div>
        <div class="article__title">Национальное достояние – парки</div>
        <div class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала склады...</div>
        <div class="article__source">Лента.ру</div>
      </div>


      <div class="article">
        <div class="article__image"></div>
        <div class="article__keyword">Природа</div>
        <div class="article__icon-delete"></div>
        <div class="article__date">2 августа, 2019</div>
        <div class="article__title">Национальное достояние – парки</div>
        <div class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала склады...</div>
        <div class="article__source">Лента.ру</div>
      </div>

      </div>
  </section>
  <footer class="footer">
    <div class="footer__copiright">&copy; 2020 Supersite, Powered by News API</div>
    <div class="footer__links">
    <nav class="footer__nav">
        <a class="footer__link footer__link_text" href="/" target="blank">Главная</a>
        <a class="footer__link footer__link_text" href="https://praktikum.yandex.ru/" target="blank">Яндекс.Практикум</a>
       </nav>
      <div class="footer__icon">
        <a class="footer__link" href="https://github.com/" target="blank"><img src="<%= require('../image/GitHub.png').default%>" alt="GitHub"></a>
        <a class="footer__link" href="https://facebook.com" target="blank"><img src="<%= require('../image/Facebook.png').default%>" alt="Facebook"></a>
      </div>
</div>
  </footer>
</div>
    <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
