<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
    <link rel="icon" href="<%=require('../image/favicon.png').default%>">
    <title>NewsExplorer</title>
</head>
<body>
  <div class="root">
    <section class="main-section">

      <header class="header">
        <div class="header__logo">NewsExplorer</div>
        <div class="header__icon-menu"></div>
        <nav class="header__nav">
          <a href="./" class="header__menu header__menu_active">Главная</a>
          <a href="./articles.html" class="header__articles">Сохранённые статьи</a>
          <button class="header__button header__unauth">Авторизоваться</button>
          <button class="header__button header__auth">
            <div class="header__user-name"></div>
            <div class="header__icon-exit"></div>
          </button>
        </nav>
      </header>
      <div class="reserch">
       <div> <h1 class="reserch__title">Что в мире творится?</h1>
        <p class="reserch__text">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p></div>
        <div class="reserch__input">
          <input class="reserch__input_handler" placeholder="Введите тему новости">
          <button class="reserch__button">Искать</button></div>
        </div>
    </section>

    <section class="result">
      <h2 class="result__title">Результаты поиска</h2>
      <div class="result__articles"></div>
<button class="articles__button">Показать еще</button>
    </section>

    <section class="preloader">
      <div class="preloader__circle"></div>
<p class="preloader__text">Идет поиск новостей...</p>
    </section>

<section class="not-found">
  <img class="not-found__image" src="<%= require('../image/not-found_v1.png').default%>">
  <h4 class="not-found__title">Ничего не найдено</h4>
  <p class="not-found__text">К сожалению по вашему запросу ничего не найдено.</p>
</section>

<section class="error__section">
  <h4 class="error__text">Во время запроса произошла ошибка. Возможно, проблема с соединением или сервер недоступен.
    Подождите немного и попробуйте ещё раз.</h4>
</section>

   <section class="about">
      <div class="about__avatar">
              <img class="about__avatar_image" src="<%= require('../image/image-03.png').default%>" alt="">

      </div>
      <div class="about__info">
        <h2 class="about__title">Об авторе</h2>
        <p class="about__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
        <p class="about__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
      </div>
    </section>



    <footer class="footer">
      <div class="footer__copiright">&copy; 2020 Supersite, Powered by News API</div>
      <div class="footer__links">
      <nav class="footer__nav">
          <a class="footer__link footer__link_text" href="/" target="blank">Главная</a>
          <a class="footer__link footer__link_text" href="https://praktikum.yandex.ru/" target="blank">Яндекс.Практикум</a>
         </nav>
        <div class="footer__icon">
          <a class="footer__link" href="https://github.com/" target="blank"><img src="<%= require('../image/GitHub.png').default%>" alt="GitHub"></a>
          <a class="footer__link" href="https://facebook.com" target="blank"><img src="<%= require('../image/Facebook.png').default%>" alt="Facebook"></a>
        </div>
</div>
    </footer>




    <section class="popup popup__singin">
      <div class="popup__content">
        <img src="<%= require('../image/back.png').default%>" alt="" class="popup__close">
        <h3 class="popup__title">Вход</h3>
        <form class="popup__form_singin" name="signin" novalidate>
          <div>
          <h6 class="popup__subtitle">Email</h6>
          <input id="email" type="email" name="email" placeholder="Введите почту" class="popup__input popup__input-email_signin"  required minlength="2" maxlength="30" >
          <span id="error" class="error"></span></div>
          <div>
            <h6 class="popup__subtitle">Пароль</h6>
          <input id="password" type="text" name="password" placeholder="Введите пароль" class="popup__input popup__input-password_signin"  required >
          <span id="error" class="error" ></span></div>
          <span class="error__server_in"></span>
            <button type="submit" class="popup__button">Войти</button>
        <span class="popup__span" >или <a class="popup__link popup__link_up">Зарегистрироваться</a></span>
          </form>
      </div>
    </section>

    <section class="popup popup__singup">
      <div class="popup__content">
        <img src="<%= require('../image/back.png').default%>" alt="" class="popup__close">
        <h3 class="popup__title">Регистрация</h3>
        <form class="popup__form_singup" name="signup" novalidate>
          <div>
          <h6 class="popup__subtitle">Email</h6>
          <input pattern="^(([\w\.]{2,}-?)+@([\w\-\.]{2,})+([a-z]{2,})+)$" type="text" name="email" placeholder="Введите почту" class="popup__input popup__input-email_signup"  required minlength="2" maxlength="30" >
          <span id="error" class="error"></span></div>
          <div>
            <h6 class="popup__subtitle">Пароль</h6>
          <input pattern="^((?=^.{8,}$)(?=.*[0-9])(?=.*[a-z]).*)$" type="text" name="password" placeholder="Введите пароль" class="popup__input popup__input-password_signup"  required minlength="8" maxlength="30" >
          <span id="error" class="error" ></span></div>
          <div>
          <h6 class="popup__subtitle">Имя</h6>
          <input id="name" type="text" name="text" placeholder="Введите своё имя" class="popup__input popup__input-name_signup"  required minlength="2" maxlength="30" >
          <span id="error" class="error" ></span></div>
          <span class="error__server_up"></span>
            <button type="submit" class="popup__button">Зарегистрироваться</button>
        <span class="popup__span" >или <a class="popup__link popup__link_in">Войти</a></span>
          </form>
      </div>
    </section>

    <section class="popup popup__singup-success">
      <div class="popup__content">
        <img src="<%= require('../image/back.png').default%>" alt="" class="popup__close">
        <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>

         <a class="popup__link popup__link_signin popup__link_i">Выполнить вход</a>

      </div>
    </section>



  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
