.header__menu {
  margin-right: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 80px;
  }
  .header__articles {
    margin-right: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  display: none;
  align-items: center;
  height: 80px;
  }
 .header__menu_active {
   border-bottom: 3px solid #FFFFFF;
 }
 .header__menu_active-black {
  border-bottom: 3px solid #000;
}

@media screen and (max-width: 768px) {
  .header__menu {
    font-size: 16px;
    margin-right: 16px;
  }
  .header__articles {
    font-size: 16px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 480px) {
  .header__menu_active {
    border-bottom: none;
}
}