.article__keyword {
  position: absolute;
  background-color: #ffffff;
  width: 88px;
  height: 40px;
  border-radius: 12px;
  left: 5%;
  top: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
line-height: 24px;
text-align: center;
display: flex;
    align-items: center;
    justify-content: center;
}