.articles__button {
  margin: auto;
  display: none;
  justify-content: center;
  border: none;
border-radius: 100px;
  width: 288px;
  height: 64px;
  background-color: #FFFFFF;;
  color: #1A1B22;
  align-items: center;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
}
.articles__button:hover {
  opacity: 0.9;
}
