@import url('./__image/image.css');
@import url('./__text/__text.css');
@import url('./__title/title.css');
.not-found {
display: none;
flex-direction: column;
background-color: #F5F6F7;
padding: 5.5% 7.2%;
align-items: center;
}
@media screen and (max-width: 320px) {
  .not-found {
padding: 2.5% 5%;
}
}
