@import url(./__button/__button.css);
@import url(./__close/__close.css);
@import url(./__content/__content.css);
@import url(./__input/__input.css);
@import url(./__title/__title.css);
@import url(./__subtitle/__subtitle.css);
@import url(./__link/__link.css);
@import url(./_is-opened/_is-opened.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  align-items: center;
  justify-content: center;

}
.error {
font-size: 12px;
line-height: 15px;
color: #FF0000;
transition: .3s;
padding: 0px;
}
.error__server_in {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  transition: .3s;
  padding: 0px;
  }
  .error__server_up {
    display: flex;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    transition: .3s;
    padding: 0px;
    }